examples/boolean or example.json
[{"id":"1bb999a.5f6a566","type":"BooleanLogic","z":"62d12c11.50bd44","name":"","operation":"OR","inputCount":2,"topic":"result","x":430,"y":220,"wires":[["1ca74af5.9e7305"]]},{"id":"1a04e0f4.aae6af","type":"inject","z":"62d12c11.50bd44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"value1","payload":"true","payloadType":"bool","x":200,"y":160,"wires":[["1bb999a.5f6a566"]]},{"id":"8c34e183.5b814","type":"inject","z":"62d12c11.50bd44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"value2","payload":"true","payloadType":"bool","x":200,"y":260,"wires":[["1bb999a.5f6a566"]]},{"id":"1ca74af5.9e7305","type":"BDebug","z":"62d12c11.50bd44","name":"Debug","x":610,"y":220,"wires":[]}]